.App {
  text-align: center;
}

@font-face {
  font-family: Geomanist;
  src: url("../src/assets/fonts/Geomanist-Regular.otf");
}

@font-face {
  font-family: GeomanistItalic;
  src: url("../src/assets/fonts/Geomanist-Regular-Italic.otf");
}

.font-Geomanist{
  font-family: Geomanist !important;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
